Sokoban/Library
Sokoban/Logs
Sokoban/UserSettings

Sokoban/Temp/
Sokoban/Obj/
Sokoban/Build/
Sokoban/Builds/
Sokoban/MemoryCaptures/
Sokoban/Recordings/

sysinfo.txt
vs/
/.gradle/
/ExportedObj/
/.consulo/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

/*.pidb.meta
/*.pdb.meta
/*.mdb.meta


/*.apk
/*.aab
/*.unitypackage
/*.app
/*.exe
/*.ipa


crashlytics-build.properties

Sokoban/Assets/AddressableAssetsData/*/*.bin*
Sokoban/Assets/StreamingAssets/aa.meta
Sokoban/Assets/StreamingAssets/aa/*
